*.tar
*.pkl
__pycache__/
**/__pycache__/
*.pyc
*.so
*.o
**/build/
*.egg
*.egg/*
**.egg-info
**.egg-info/
.installed.cfg
*README_.md
docker/opencv*.zip
docker/opengl/
docker/normalSpeed/
output/*
*.mp4
*.avi
